@keyframes backimgmove
{
    0% {transform:skewY(-10deg);}
    50% {transform:skewY(-7deg);}
    100% {transform:skewY(-10deg);}
}

@-webkit-keyframes backimgmove /*Safari and Chrome*/
{
    0%  {transform:skewY(-10deg);}
    50% {transform:skewY(-7deg);}
    100% {transform:skewY(-10deg);}
}
@keyframes backrectmove
{
    0% {transform:skewY(10deg);}
    50% {transform:skewY(7deg);}
    100% {transform:skewY(10deg);}
}

@-webkit-keyframes backrectmove /*Safari and Chrome*/
{
    0%  {transform:skewY(10deg);}
    50% {transform:skewY(7deg);}
    100% {transform:skewY(10deg);}
}
section {
    width: 100%;
    height: 100%;
}

.about-wrap{
    position: relative;
    width: 1040px;
    height: 700px;
    left: 50%;
    margin-left: -520px;
    /* background-color: beige; */

}

.left{
    float: left;
    width: 425px;
    height: 700px;
}

.left .backimg{
    position: relative;
    top: 150px;
    width: 422px;
    height: 425px;
    background-image: url(../image/IMG_68951.jpg);
    background-repeat: no-repeat;
    animation: backimgmove 3s linear infinite;
    -webkit-animation:backimgmove 3s linear infinite; /*Safari and Chrome*/
}

.left .backrect{
    position: relative;
    top: -380px;
    left: 130px;
    width: 250px;
    height: 230px;
    background-color: #49ce20;
    opacity: 0.9;
    background-repeat: no-repeat;
    animation: backrectmove 3s linear infinite;
    -webkit-animation:backrectmove 3s linear infinite; /*Safari and Chrome*/

}


.right{
    padding-top:100px;
    float: left;
    width: 535px;
    padding-left:80px; 
    height: 700px;
}

.right p{
	font-family: Geneva;
    font-size: 20px;
    line-height: 32px;
	letter-spacing: 0px;
}

.right .link{
    margin-top:50px; 
    height: 36px;
    margin-left:220px; 
    width: 285px;
}

.right .link a{
    float: right;
    display: block;
    width: 36px;
    height: 36px;
    margin-left:20px; 
    background-size:36px 36px; 
    cursor: pointer;
}

.right .link .zcool a{
    background-image: url(../image/zcool.png
    )
}
.right .link .zcool a:hover{
    background-image: url(../image/zcool-h.png)
}

.right .link .weibo a{
    background-image: url(../image/weibo.png
    )
}
.right .link .weibo a:hover{
    background-image: url(../image/weibo-h.png)
}
.right .link .wechat a{
    background-image: url(../image/wechat.png
    )
}
.right .link .wechat a:hover{
    background-image: url(../image/wechat-h.png)
}