html{font-size: 12px;}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body{font:12px "HanHei" "SC","PingFang SC",Arial,sans-serif;background:#fff;-webkit-text-size-adjust:100%;background: #ffffff} 
a{color:#2d374b;text-decoration:none} 
a:hover{color:#cd0200;text-decoration:underline} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word} 

@font-face {font-family: 'DINNextLTPro';
    src: url('../../fonts/DINNextLTPro-Bold_0.ttf'); /* IE9*/
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: 'Geneva';
    src: url('../../fonts/geneva.ttf'); /* IE9*/
    font-weight: lighter;
    font-style: normal;
}

@keyframes linemove
{
    from {left:-100%;}
    to {left:0;}
}

@-webkit-keyframes linemove /*Safari and Chrome*/
{
    from {left:-100%;}
    to {left:0;}
}

body {
    width: 100% ;
    min-height: 720px;
}
    
.nav-button {
    position: fixed;
    top:0.8rem;
    left: 0.533rem;
    width: 0.85rem;
    height: 0.85rem;
}


.nav-button-line{
    display: block;
    position: relative;
    width: 0.85rem;
    height: 0.187rem;
    background-color:  rgba(0, 0, 0, 1);
    transition: 0.4s;
}

.nav-button-line-top{
    top: 0.2rem;
}

.nav-button-line-bottom{
    top: 0.4rem;
}

.close .nav-button-line-top {
    -webkit-transform: rotate(-45deg) translate(0.13rem, 0.13rem);
    transform: rotate(-45deg) translate(-0.13rem, 0.13rem);
}

.close .nav-button-line-bottom {
    -webkit-transform: rotate(45deg) translate(-0.13rem, 0.13rem);
    transform: rotate(45deg) translate(-0.13rem, -0.13rem);
}

.close .nav-button-line{
    background-color: #b0fc98;
}
.nav-menu {
    position: absolute;
    top: 0;
    bottom:0;
    left: -95%;
    min-height: 13rem;
    height: 100%;
    width: 95%;
    transition: 0.4s;
    background-color: #49ce20;
    opacity: 0.98;
}

.nav-menu ul{
    position: relative;
    top:0;
    margin-top:3rem; 
    height: 10rem;
    width: 100%; 
    left: 0;
    overflow: scroll;
}

.nav-menu li{
    font-family: 'DINNextLTPro';
    font-size: 1.06rem;
    line-height: 1.8rem;
	font-weight: normal;
	font-stretch: normal;
    letter-spacing: 0.01rem;
}

.nav-menu a {
    display: block;
    position: relative;
    padding-left: 0.533rem;
    text-decoration : none;
    color: #b0fc98;
    
}
.nav-menu a:hover{
    
    color: #000000;
    cursor: pointer;
}


.content {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-gap: 1.5rem;
    margin: auto; 
}
.content .shhmore{
    width: 100%;
    text-align: center;
    height: 1rem;
    font-family: 'Geneva';
    font-size: 0.373rem;
    color: #666666;
}
.content .work{
    padding-left:0.533rem; 
    padding-right:0.533rem; 
    cursor: pointer;
}
.content img{
    border-radius: 0.1rem;
    margin-bottom:0.4rem; 
    width: 100%;
    height: 4.5rem;
}
.content h1{
    font-family: 'DINNextLTPro';
    font-size: 0.667rem;
    line-height: 0.8rem;
    color: #000000;
    position: relative;
    margin-bottom:5px; 
}
.content p{
    font-family: 'Geneva';
    font-size: 0.373rem;
    color: #666666;
}

.content .work {
    border-radius: 4px;
    display: block;
    text-decoration:none;
}


.footer {
    position: relative;
    text-align: center;
	font-family: 'Geneva';
	font-size: 0.373rem;
	font-weight: normal;
	font-stretch: normal;
    color: #666666;
    margin-top: 2rem;
    width: 100%;
    height: 1rem;
    margin-bottom: 0.1rem;
}

.detail{
    position: absolute;
    top: 0;
    display: none;
    width: 89.34%;
    padding-left:0.533rem; 
    padding-right:0.533rem; 
    background:#fff;
    padding-bottom:1rem;  
}

.closebtn{
    position: fixed;
    top:0;
    left: 0;
    display: block;
    width: 100%;
    height: 2.6rem;
    background: #fff;
}

.close-button {
    position: relative;
    left: 0.533rem;
    top:0.8rem;
    width: 0.85rem;
    height: 0.85rem;
}


.close-button-line{
    display: block;
    position: relative;
    width: 0.6rem;
    height: 0.187rem;
    background-color:  rgba(0, 0, 0, 1);
    transition: 1s;
}

.close-button-line-top{
    -webkit-transform: rotate(-45deg) translate(-0.07rem, -0.01rem);
    transform: rotate(-45deg) translate(-0.07rem, -0.01rem);
    top: 0.2rem;
}

.close-button-line-bottom{
    -webkit-transform: rotate(45deg) translate(-0.07rem, 0.01rem);
    transform: rotate(45deg) translate(-0.07rem, 0.01rem);
    top: 0.4rem;
}

.wrap{
    display: block;
    position: relative;
    width: 100%;
    background-color: #ffffff;
    cursor: default;
    padding-top:2.6rem; 
}
.wrap h1{
    font-family: 'DINNextLTPro';
    font-size: 1rem;
    line-height: 1.1rem;
}

.wrap h2{
    font-family: 'Geneva';
    margin-top: 30px;
    font-size: 0.4rem;
    line-height: 0.5rem;
    color: #666666;
}

.wrap p{
    margin-top:30px; 
    font-family: 'Geneva';
    font-size: 0.4rem;
    font-weight: 400;
    line-height: 0.7rem;
    color: #666666;
    margin-bottom:0.8rem; 
}

.wrap img{
    width: 100%;
    margin-bottom:1.066rem; 
}
.detail .page-btn{
    display: block;
    position: fixed;
    width: 67px;
    height: 67px;
    top:50%;
    margin-top: -34px;
    cursor: pointer;
    object-fit: cover; 
}

.page-left{
    left: 100px;
    background-image: url(../image/left.png)
}
.page-left:hover{
    background-image: url(../image/left-h.png)
}

.page-right{
    left: 100%;
    margin-left:-168px;
    background-image: url(../image/right.png)
}
.page-right:hover{
    background-image: url(../image/right-h.png)
}
.sub-page{
    position: relative;
    display: block;
    top:0;
    width: 100%; 
    height: 2.65rem;
}
.sub-page-title{
    position: fixed;
    top:0;
    padding-left:2rem;
    width: 80%; 
    padding-top:0.8rem;
    background: #ffffff;
    height: 1.8rem;
}

.sub-page-title h1{
    display: block;
    font-family: 'DINNextLTPro';
    font-size: 1rem;
    line-height: 1.2rem;
}
.sub-page-title div{
    display: block;
    height: 1.8rem;
}

#like {
    margin-top: 1rem;
    position: relative;
    width: 3.48rem;
    height: 1.5rem;
    border-radius: 4px;
    left: 50%;
    padding-top:0.433rem; 
    margin-left:-1.74rem; 
    font-family: 'Geneva';
}
.beforeLike{
    background-color: #f74d49;
    color: #fff;
}

.afterLike{
    color: #f74d49;
    background-color: #fff;
}
#like:hover{
    cursor: pointer;
}

#like span{
    font-family: 'DINNextLTPro';
    display: block;
    width: 3.47rem;
    height: 0.7rem;
    text-align: center;
    font-size: 0.667rem;
    line-height: 0.667rem;
}

#like div{
    font-family: 'Geneva';
    padding: 0;
    margin: 0;
    width: 3.47rem;
    margin-top: 0.1rem;
    height: 0.373rem;
    text-align: center;
    font-size: 0.373rem;
    line-height: 0.373rem;
}